
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    //用户拥有的权限
    List<CSM.Model.ServPurviewInfoModel> personPurviewList = ViewData["personPurviewList"] as List<CSM.Model.ServPurviewInfoModel>;
}
@section HeadCSS{
    @RenderSection("HeadCSS", required: false)

    <link href="~/style/base/css/popup.css" rel="stylesheet" />

}
@section HeadJS{
    @RenderSection("HeadJS", required: false)
}


<section class="container-fluid">
    <div class="tab  right-tab">
        <ul class="tab-ul personSub">
            @if (personPurviewList.FirstOrDefault(n => n.purview_code == (int)CSM.Common.EnumClass.PurviewEnum.组织架构) != null)
            {
                <li>
                    <a href="/PersonInfo/OrganizationManage">
                        <h4>组织架构</h4>
                    </a>
                </li>
            }
            @if (personPurviewList.FirstOrDefault(n => n.purview_code == (int)CSM.Common.EnumClass.PurviewEnum.人员管理) != null)
            {
                <li>
                    <a href="/PersonInfo/PersonManage">
                        <h4>人员管理</h4>
                    </a>
                </li>
            }
            @*@if (personPurviewList.FirstOrDefault(n => n.purview_code == (int)CSM.Common.EnumClass.PurviewEnum.个人信息) != null)
            {
                <li>
                    <a href="/PersonInfo/IndividualInfo">
                       
                        <h4>个人信息</h4>
                    </a>
                </li>
            }*@
        </ul>
    </div>
    <!--左边部分 end-->
    <!--右边部分 start-->
    <div class="slider-right">
        @RenderBody()
    </div>
</section>
