@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    //用户拥有的权限
    List<CSM.Model.ServPurviewInfoModel> personPurviewList = ViewData["personPurviewList"] as List<CSM.Model.ServPurviewInfoModel>;
}
@section HeadCSS{
    @RenderSection("HeadCSS", required: false)
    <link href="~/style/base/css/plan.css" rel="stylesheet" />
    <link href="~/style/base/css/popup.css" rel="stylesheet" />
}
@section HeadJS{
    @RenderSection("HeadJS", required: false)
}

<section class="container-fluid">

    <div class="tab  right-tab">
        <ul class="tab-ul planSub">
            @if (personPurviewList.FirstOrDefault(n => n.purview_code == (int)CSM.Common.EnumClass.PurviewEnum.设备预案列表) != null)
            {
                <li>
                    <a href="/Plan/Index">
                        <h4>设备预案列表</h4>
                    </a>
                </li>
            }
            @if (personPurviewList.FirstOrDefault(n => n.purview_code == (int)CSM.Common.EnumClass.PurviewEnum.设备预案注册) != null)
            {
                <li>
                    <a href="/Plan/DeviceCreate">
                        <h4>设备预案注册</h4>
                    </a>
                </li>
            }
            @if (personPurviewList.FirstOrDefault(n => n.purview_code == (int)CSM.Common.EnumClass.PurviewEnum.事件预案列表) != null)
            {
                <li>
                    <a href="/Plan/EventList">
                        <h4>事件预案列表</h4>
                    </a>
                </li>
            }
            @if (personPurviewList.FirstOrDefault(n => n.purview_code == (int)CSM.Common.EnumClass.PurviewEnum.事件预案注册) != null)
            {
                <li>
                    <a href="/Plan/EventCreate">
                        <h4>事件预案注册</h4>
                    </a>
                </li>
            }
            @if (personPurviewList.FirstOrDefault(n => n.purview_code == (int)CSM.Common.EnumClass.PurviewEnum.预案条例) != null)
            {
                <li>
                    <a href="/Plan/PlanOrdinanceList">
                        <h4>预案条例</h4>
                    </a>
                </li>
            }
            @if (personPurviewList.FirstOrDefault(n => n.purview_code == (int)CSM.Common.EnumClass.PurviewEnum.执行结果列表) != null)
            {
                <li>
                    <a href="/Plan/PlanItemResult">
                        <h4>预案执行结果</h4>
                    </a>
                </li>
            }
            @if (personPurviewList.FirstOrDefault(n => n.purview_code == (int)CSM.Common.EnumClass.PurviewEnum.设备预案批量注册) != null)
            {
                <li>
                    <a href="/Plan/DeviceBatchCreate">
                        <h4>设备预案批量注册</h4>
                    </a>
                </li>
            }
        </ul>
    </div>
    <!--左边部分 end-->
    <!--右边部分 start-->
    <div class="slider-right">
        @RenderBody()
    </div>
</section>
